<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Zmiany grup</title>
</head>
<body>
<!-- navbar start -->
<div th:replace="menu.html :: menu(selected='group_changes')"></div>

<div th:if="${message != null}" th:classappend="${message.getType() == 1} ? 'alert alert-success' : 'alert alert-danger'" role="alert" style="margin-top: 15px;">
    <span th:text="${message.getMessage()}"></span>
</div>
<div th:if="${requestsTo.size() >0}" sec:authorize="hasAuthority('USER')" class="container-fluid" style="margin-top: 15px;">
    <h4>Prośby wysłane do Ciebie</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th style="width: 15%" scope="col">Imię</th>
            <th style="width: 15%" scope="col">Nazwisko</th>
            <th style="width: 10%" scope="col">Grupa</th>
            <th style="width: 30%" scope="col">Status</th>
            <th style="width: 30%" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${request.getStatus()==1 || request.getStatus()==2}" th:each="request : ${requestsTo}">
            <td th:text="${request.getRequestedByUser().getName()}">name</td>
            <td th:text="${request.getRequestedByUser().getHiddenSurname()}">surname</td>
            <td th:text="${request.getRequestedByUser().getGroup().getName()}">name</td>
            <td th:block th:switch="${request.status}">
                <div th:case=1>
                    <span>Oczekuje na zatwierdzenie</span>
                </div>
                <div th:case=2>
                    <span>Oczekuje na zatwierdzenie przez opiekuna</span>
                </div>
                </th:block></td>
            <td>
                <form th:if="${request.status==1}" th:action="@{'/change-request/{id}'(id=${request.id})}" method="post">
                    <button type="submit" class="btn btn-success btn-sm" name="setStatus" value="accepted_by_user">Zaakceptuj zmianę</button>
                    <button type="submit" class="btn btn-danger btn-sm" name="setStatus" value="rejected_by_user">Odrzuć</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${requestsBy.size() == 0 && requestsTo.size() == 0}" sec:authorize="hasAuthority('USER')" class="container" style="margin-top: 15px;">
    <h4>Brak aktywnych zmian</h4>
</div>

<div th:if="${requestsBy.size()>0}" sec:authorize="hasAuthority('USER')" class="container" style="margin-top: 15px;">
    <h4>Prośby wysłane przez Ciebie</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th style="width: 25%" scope="col">Imię</th>
            <th style="width: 25%" scope="col">Nazwisko</th>
            <th style="width: 20%" scope="col">Grupa</th>
            <th style="width: 30%" scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:classappend = "|${request.status==4 ? 'table-success' : ''} ${request.status==3 || request.status==5 ? 'table-danger' : ''}|" th:each="request : ${requestsBy}">
            <td th:text="${request.getRequestedToUser().getName()}">name</td>
            <td th:text="${request.getRequestedByUser().getHiddenSurname()}">surname</td>
            <td th:text="${request.getRequestedToUser().getGroup().getName()}">name</td>
            <td th:block th:switch="${request.status}">
                <div th:case=1>
                    <span>Prośba wysłana do użytkownika</span>
                </div>
                <div th:case=2>
                    <span>Oczekuje na zatwierdzenie przez opiekuna</span>
                </div>
                <div th:case=3>
                    <span>Odrzucony przez użytkownika</span>
                </div>
                <div th:case=4>
                    <span>Zatwierdzony przez opiekuna</span>
                </div>
                <div th:case=5>
                    <span>Odrzocony przez opiekuna</span>
                </div>
                </th:block></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${requestsForAdmin.size() == 0}" sec:authorize="hasAuthority('ADMIN')" class="container" style="margin-top: 15px;">
    <h4>Brak nowych zgłoszeń</h4>
</div>

<div th:if="${requestsForAdmin.size() > 0}" sec:authorize="hasAuthority('ADMIN')" class="container" style="margin-top: 15px;">
    <h4>Prośby o akceptację zmiany</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th style="width: 20%" scope="col">Osoba 1</th>
            <th style="width: 20%" scope="col">Osoba 2</th>
            <th style="width: 30%" scope="col">Status</th>
            <th style="width: 30%" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requestsForAdmin}">
            <td th:text="${request.getRequestedByUser().getName() + ' '+request.getRequestedByUser().getSurname() +' Grupa: '+ request.getRequestedByUser().getGroup().getName()}" >name</td>
            <td th:text="${request.getRequestedToUser().getName() + ' '+request.getRequestedToUser().getSurname() +' Grupa: '+ request.getRequestedToUser().getGroup().getName()}" >name</td>
            <td>Oczekuje na zatwierdzenie</td>
            <td>
                <form action="#" th:action="@{'/change-request/{id}'(id=${request.id})}" method="post">
                    <button type="submit" class="btn btn-success btn-sm" name="setStatus" value="accepted_by_admin">Zaakceptuj zmianę</button>
                    <button type="submit" class="btn btn-danger btn-sm" name="setStatus" value="rejected_by_admin">Odrzuć</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- main content ends -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>