<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/starter.css">

    <title>Zmiany grup</title>
  </head>
  <body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user_panel">Strona głowna<span class="sr-only">(current)</span></a>
          </li>
          <li sec:authorize="hasAuthority('USER')" class="nav-item">
            <a class="nav-link" href="/user_group">Moja grupa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/groups">Wszystkie grupy</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Zmiany grup</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">Czat</a>
            </li>
        </ul>
		<form action="/user_logout" method='POST'>
		<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
		<button class="menu-element right unstyled-button" type="submit">Wyloguj</button>
		</form>
      </div>
    </nav>
	
   <div sec:authorize="hasAuthority('USER')" class="container">
   	<h4>Prośby wysłane do Ciebie</h4>
    <table class="table">
	<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Grupa</th>
	  <th scope="col"></th>
    </tr>
	</thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adam</td>
      <td>K*****</td>
	  <td>Grupa 2</td>
      <td>
		<button type="button" class="btn btn-success btn-sm">Akceptuj zmianę</button>
		<button type="button" class="btn btn-danger btn-sm">Odrzuć</button>	
	  </td>
    </tr>
   </tbody>
	</table>
   </div>
   
   <div sec:authorize="hasAuthority('USER')" class="container">
   	<h4>Prośby wysłane przez Ciebie</h4>
    <table class="table">
	<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Grupa</th>
	  <th scope="col">Status</th>
    </tr>
	</thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adam</td>
      <td>K*****</td>
	  <td>Grupa 2</td>
      <td>Oczekuje na akceptację opiekuna</td>
    </tr>
   </tbody>
	</table>
   </div>
   
   <div sec:authorize="hasAuthority('ADMIN')" class="container">
   	<h4>Prośby o akceptację zmiany</h4>
    <table class="table">
	<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Osoba 1</th>
      <th scope="col">Osoba 2</th>
	  <th scope="col"></th>
    </tr>
	</thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adam Kowalski Grupa 2</td>
      <td>Karol Nowak Grupa 1</td>
      <td>
		<button type="button" class="btn btn-success btn-sm">Akceptuj zmianę</button>
		<button type="button" class="btn btn-danger btn-sm">Odrzuć</button>	
	  </td>
    </tr>
   </tbody>
	</table>
   </div>
   
   <!-- main content ends -->

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
