<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Logowanie</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<body class="main-bg">
<div class="login-container text-c animated flipInX">
	<div>
		<h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
	</div>
	<h3 class="text-whitesmoke">Logowanie</h3>
	<p class="text-whitesmoke">Wprowadź login i hasło</p>
	<div class="container-content">
		<form class="login-form margin-t" action="/login" method="POST">
			<div class="form-group">
				<input type="text" name="username" class="form-control" placeholder="login" required="">
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="*****" required="">
			</div>
			<p th:if="${error}"  th:text="${error}" class="error" style="color: red;"/>
			<button type="submit" class="form-button button-l margin-b">Zaloguj się</button>
		</form>
	</div>
</div>
</body>
</body>
</html>