<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Moja grupa</title>
</head>
<body>
<!-- navbar start -->
<div th:replace="menu.html :: menu(selected='user_group')"></div>
<div class="container">
  <h3><span style="float:left;"  th:text="${'Grupa: '+group.name}"/></h3>
  <h4><span style="float:right;"  th:text="${'Liczba osób w grupie: '+ group.groupUsers.size()+'/'+group.limit}"/></h4
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th style="width: 40%" scope="col">Imię</th>
      <th style="width: 60%" scope="col">Nazwisko</th>
    </tr>
    </thead>
    <tbody>
    <tr th:classappend ="${user.id}==${currentUser.id} ? 'table-info'" th:each="user : ${group.groupUsers}">
      <td th:text="${user.name}">name</td>
      <td th:text="${user.getHiddenSurname()}">surname</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- main content ends -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>